.header {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    box-shadow: 0 0 0 1px rgba(53, 72, 91, 0.14), 0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 7px rgba(0, 0, 0, 0.03);
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}  

.navigation ul {
    list-style: none;
    margin: 0;
}

.navigation ul > li > a {
    text-decoration: none;
    color: #000;
}

.navigation li:nth-child(2),
.navigation li:nth-child(3),
.navigation li:nth-child(4),
.navigation li:nth-child(5) {
    display: none;
}

.navigation li:nth-child(1) {
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 1.2rem 2rem;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .navigation ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        list-style: none;
    }
    .navigation ul > li {
        display: flex!important;
        flex-direction: row;
        justify-content: flex-start;
    }
    .navigation div {
        display: none;
    }
}