.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SECTION TITLES */
/* 
.cardSocial a:nth-child(2n+1) {
  color: #0d6efd;
} */

/* FOOTER */
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* .logo {
  height: 1em;
  margin-left: 0.5rem;
} */

@media (min-width: 768px) {
  .title {
    font-size: 56px;
    line-height: 3.5rem;
  }
  .description {
    font-size: 20px;
    margin: 0 auto;
    width: 50rem;
  }
  /* .containerImg img {
    width: 100%!important;
    height: 30rem!important; 
  }
  .containerImg div:nth-child(2),
  .containerImg div:nth-child(3),
  .containerImg div:nth-child(4) {
    min-width: 10rem;
    font-size: 20px;
    font-weight: 500;
  }
  .containerImg div:nth-child(5) {
    top: 24px;
    left: 35px;
  }
  .aboutMe .cardAboutMe {
    width: 25rem;
  }
  .cardAboutMe div > h2 {
    font-size: 20px;
  }

  .cardAboutMe div > p {
    font-size: 12px;
    color: #57606a;
  } */
}

@media (prefers-color-scheme: #f2f4f9) {
  .footer {
    border-color: #222;
  }
}
