.menuMobileContainer {
    position: relative;
    top: 4rem;
    width: 100%;
    min-height: 9rem;
    margin-top: 1rem;
    padding: 1rem 1rem 0.6rem 1rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DFDFE1;
}

.nav {
    display: block;
    flex-direction: column;
    margin: 0;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding-bottom: 1rem;
}

.nav ul > li {
    font-size: 14px;
}

.nav ul > li > a {
    text-decoration: none;
    color: #000;
}

