.title {
  font-weight: 800;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 auto;
  padding-top: 1rem;
  line-height: 1.5;
  font-size: 14px;
  color: #57606a;
}

/* CONTAINER CARDS */
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: inherit;
  text-decoration: none;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  border-radius: 20px;
  margin-top: 2rem;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0 2px 6px #dbdbdb;
}

.card div {
  gap: 10px;
}

.card div:nth-child(1) {
  display: flex;
  min-width: 8rem;
  justify-content: center;
}

.card div:nth-child(2) {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.card div > span {
  color: #57606a;
  font-size: 14px;
}

.card div > p {
  color: #57606a;
  font-size: 16px;
}

.card div > div {
  display: flex;
  gap: 15px;
  margin-top: 0.8rem;
}

.card h2 {
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 56px;
    line-height: 3.5rem;
  }
  .description {
    font-size: 20px;
    margin: 0 auto;
    width: 50rem;
  }
  .card {
    /* width: 80rem; */
    align-items: flex-start;
    gap: 50px;
    display: flex;
    flex-direction: row;
  }

  .card div:nth-child(2) {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }
}
